<style>
  .logo {
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
  }

  .home-nav {
    display: flex;
    align-items: center;
  }

  .flex-distribute {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
  }
  
  .flex-distribute img {
    max-width: 400px;
  }

  .top-image {
    height: auto;
    padding-top: 1em;
  }
  
  .nouveau {
    padding-inline: 1em;
    padding-block-end: 1em;
    margin-top: 2em;
    background-color: var(--code-background-color);
    border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }

  .nouveau li {
    padding-bottom: 10px;
  }

	.home {
		margin-top: 1em;
	}
</style>